.button:disabled,
.button[disabled] {
  color: gray !important;
  border-color: gray !important;
  pointer-events: none !important;
  cursor: default !important;
  &:hover {
    &:before {
      height: 0 !important;
      width: 0 !important;
    }
  }
}
@mixin underline-states($color) {
  color: $color;
  &:after,
  &:before {
    background-color: $color;
  }
  &:hover,
  &:focus,
  &:active {
    color: $color;
  }
}
@mixin button-styles {
  @include remove-link-styles;
  z-index: 1;
  position: relative;
  line-height: 1;
  text-transform: uppercase !important;
  > * {
    line-height: 1;
  }
  cursor: pointer;
  letter-spacing: 1.61px;
  color: white;
  background: $primary;
  transition: background-color 0.2s ease;
}

.button {
  @include remove-link-styles;
  @include button-styles;
  @include button-states($secondary, $primary);
  &.blue {
    @include button-states($primary, $secondary);
  }
  font-weight: bold;
  font-size: remify(18) !important;
  padding: 1rem remify(40);
  text-align: center;
  display: block;
  font-weight: normal;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  .button {
    margin: 0;
  }
}
