.card:not(.hero) {
  p:last-of-type {
    margin-bottom: 2.5rem;
  }
}
.card {
  display: flex;
  flex-direction: column;
  position: relative;
  > div,
  > a {
    flex-basis: auto;
  }
  .card-content {
    background: white;
    padding: 2rem 1.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    .excerpt {
      *:not(p) {
        display: none;
      }
    }
    img {
      align-self: flex-start;
      margin-top: auto;
      height: remify(13.45);
      width: auto;
      transition: all 0.2s ease;
    }
  }
  .image-wrap {
    img {
      width: 100%;
      position: relative;
    }
    .faux-image {
      width: 100%;
      background-size: cover;
      padding-bottom: 56.25%;
      background-position: center center;
    }
  }
  @media (max-width: 767px) {
    padding: 0;
  }
}

a.card {
  @include remove-link-styles;
}

.card-grid {
  flex: 1;
  background: $background;
}
.off_background {
  background: $background;
}

.card-content {
  h5 {
    color: $secondary;
    font-weight: normal;
    @include fontSizing(24, 24);
  }
  h3 {
    @include fontSizing(36, 43);
    text-transform: capitalize;
    word-break: break-word !important;
  }
  button {
    align-self: flex-start;
    margin-top: auto;
  }
}
#show-more-button {
  margin: 2rem 0;
}
.card-grid {
  .open .video-embed .poster:after {
    display: none;
  }
  [column],
  #show-more-button {
    @media (--medium) {
      margin-bottom: 2rem;
    }
  }
  .card:not(.lockup) > div {
    @media (--medium) {
      > div,
      > a {
        flex-basis: auto;
      }
      display: flex;
      flex-direction: column;
      position: relative;
      height: 100%;
      box-shadow: 2px 4px 2px 0 rgba(0, 0, 0, 0.2);
      transition: all 0.2s ease;
      &:hover {
        transform: translateY(-0.25rem);
        box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.15);
        .arrow {
          transform: translateX(0.33rem);
        }
      }
    }
  }
  .card {
    h5 {
      margin-bottom: 0 !important;
    }
  }
}
