$mapheight: remify($headerHeight);

.map {
  overflow: hidden;
  p,
  a {
    font-family: "Oswald", sans-serif;
    p {
      @include fontSizing(18, 18);
    }
  }
  .card-wrap {
    padding: $gutter / 2 $gutter;
    &:first-of-type {
      padding-top: 0;
    }
  }
  .map-card {
    background: white;
    border-radius: 5px;
    overflow: hidden;
    padding: 0 0 ($gutter / 2);
    box-shadow: 2px 4px 2px 0 rgba(0, 0, 0, 0.2);
    ul {
      list-style: none;
      padding: 0;
    }
    .card-header,
    .list-group-item a {
      display: flex;
      align-items: center;
      padding: 0 ($gutter / 2);
      p {
        margin: 0;
      }
    }
    .card-header,
    .list-group-item:first-of-type {
      margin-bottom: $gutter / 2;
      padding-bottom: $gutter / 2;
      border-bottom: 1px solid $border;
    }
    .card-header {
      background-color: lighten($background, 2.5%);
      padding-top: $gutter / 2;
      cursor: pointer;
      font-weight: bold;
      svg {
        color: #e661ac;
      }
    }
  }
  .infoWindow {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .icon {
      display: inline;
      order: -1;
      margin-right: 0.5rem;
    }
    a {
      display: flex;
      align-items: flex-start;
    }
    p {
      margin-top: 0;
      line-height: 1;
    }
  }
  .carterknifecoLogo {
    width: 50px;
    margin: 1rem;
    margin-left: 0.33rem;
    @media (max-width: 769px) {
      display: none;
    }
  }
  #map {
    position: absolute;
    top: -62px;
  }

  .vue-map-container {
    height: 100vh;
    height: calc(100vh - 4.28571rem);
    @media (--large) {
      height: calc(100vh - 7.14286rem);
    }
    @media (max-width: 769px) {
      margin: 0 0 2rem;
    }
    padding: 0;
  }

  .location-boxes {
    line-height: 1.35;
    @media screen and (min-width: 768px) {
      position: -webkit-sticky; // required for Safari
      position: sticky;
      top: 0; // required as well.
      padding-top: $gutter;
      margin-top: $gutter * -1;
    }
  }
  [column] {
    @media (--medium) {
      &:first-of-type {
        padding-right: 0;
        border-right: 2px solid $border;
      }
      &:last-of-type {
        padding-left: 0;
      }
    }
  }
}
