nav.main {
  z-index: 999;
  background-color: white;
  svg {
    fill: $primary;
    * {
      fill: $primary;
    }
  }
  &.mobile,
  &.desktop {
    a:not(.button) {
      color: $primary;
    }
    input {
      color: $black;
    }
  }
  button {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover,
    &:active,
    &:focus {
      background: none;
    }
  }
}
