section.content,
.empty-results {
  overflow: hidden;
  .block-img img {
    width: 100%;
  }
  p {
    img {
      @media (--medium) {
        width: 55%;
      }
    }
    &:nth-of-type(odd) {
      img {
        @media (--medium) {
          float: right;
          margin: 0 0 0 $gutter;
          margin-right: $gutter * -2;
        }
      }
    }
    &:nth-of-type(even) {
      img {
        @media (--medium) {
          float: left;
          margin: 0 $gutter 0 0;
          margin-left: $gutter * -2;
        }
      }
    }
  }
  p {
    clear: both;
    margin-bottom: 1rem;
    @media (--large) {
      margin-bottom: 1.5rem;
      @include fontSizing(18, 27);
    }
  }
  iframe {
    width: 100%;
    height: auto;
  }
  .cms-embed {
    margin: 2rem 0;
  }

  [column]:not(.signup) {
    h2,
    h3,
    h4,
    h5,
    h6 {
      clear: both;
      font-weight: 600;
      text-transform: capitalize;
      margin: 2rem 0 1rem !important;
      @media (--large) {
        margin: 3rem 0 1.5rem !important;
      }
    }
  }

  h2,
  h3,
  h4,
  h5 {
    color: $primary;
  }
  h4,
  h5 {
    text-transform: uppercase;
  }
  h2 {
    @include fontSizing(40, 40);
  }
  h3 {
    @include fontSizing(30, 30);
  }
  h4 {
    @include fontSizing(24, 24);
  }
  h5 {
    color: $secondary;
    @include fontSizing(22, 22);
  }
  h6 {
    @include fontSizing(18, 18);
  }
}
.empty-results {
  padding-left: 1rem;
  padding-right: 1rem;
}
.post {
  .signup {
    margin-bottom: 2rem;
    @media (--large) {
      margin-bottom: 4rem;
    }
  }
  img {
    @media (max-width: 600px) {
      margin: 1rem 0;
      min-width: 100%;
      max-width: 100%;
      float: none;
    }
  }
}
