$aos-distance: 25px; // It has to be above import
@import "node_modules/aos/src/sass/aos.scss";

//sizing
$base-em: 14;
$base-em-l: $base-em + 1;
$base-em-xl: $base-em + 2;
$full-grid: true;

@custom-media --extra-extra-large (width>=1420px);

$white: #f5f5f5;
$offwhite: #f5f5f5;
$blue: lighten(#498897, 50%);
$dark_blue: darken(#498897, 5%);
$black: #4a4a4a;
$gray: #efefef;
$busInterior: darken(#c9b69c, 10%);
$light_busInterior: lighten(#c9b69c, 22.5%);
$red: red;
$tan: #7c5743;
$green: #1f5732;
$border: #d8d8d8;
$background: $light_busInterior;
$primary: $dark_blue;
$secondary: $busInterior;
$footerBG: $primary;

$headerHeight: 60;
$deskheaderheight: 80;
$subHeaderHeight: 40;
